@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgba(246, 245, 245, 0.59);
}

.dark-theme{
    background-color: #0E1219;
}

._opened{
  display: flex !important;
}

@media scree and (max-width: 1280px){
    .text-gradient-media{
        -webkit-text-fill-color: transparent;
    }
}

.text-gradient{
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


@layer utilities {
    .inner-wrapper{
        @apply max-w-[1170px] w-full
    }
}

